 * {
    box-sizing: border-box;
} 
h1{
    margin-bottom: 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.hd1{
    position: absolute; 
    border: 2px solid black;
    background-color: maroon;
    width: 20%;
    /*height: 50px;
    margin-bottom: 10px; */
    padding: 5px;
    text-align: center;
    top:0px;
    right: 0px;
    color: azure;
    font-weight: bold;
}
.hd2{
    position: absolute; 
    border: 2px solid black;
    background-color: palevioletred;
    width: 20%;
    /*height: 50px;
    margin-bottom: 10px; */
    padding: 5px;
    text-align: center;
    top:0px;
    right: 0px;
    color: black;
    font-weight: bold;
}
.hd3{
    position: absolute; 
    border: 2px solid black;
    background-color: palegoldenrod;
    width: 30%;
    /*height: 50px;
    margin-bottom: 10px; */
    padding: 5px;
    text-align: center;
    top:0px;
    right: 0px;
    color: black;
    font-weight: bold;
}
p{
    padding: 20px 20px 0px 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
.section{
    border: 1px solid black;
    margin-top: 20px; 
    margin-right: 20px; 
    padding: 3px;
    text-align: justify;
   	position: relative;
    background: gray;
}
/* simple responsive framework */
.row{
    width: 100%;
}
/* large device only */
@media (min-width: 992px) {
 
    .col-lg-4 {
      width: 33.33%;
      float: left;
      }
  }
  
  /* Tablet PC view */
  @media (min-width: 768px) and (max-width: 991px) {
   
    .col-md-6 {
      width: 50%;
      float: left;
    }
    .col-md-12 {
      width: 100%;
      float: left;
    }
  }
  /* Cell phone view */
  @media (max-width: 767px)  {
    
    .col-sm-12 {
        float: left;
      width: 100%;
    }
  }